<% layout('layouts/boilerplate') %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="../../frontend/assets/css/home.css">
        <title>ContactList</title>
    </head>
    <main class="px-3">
        <h1>ContactList</h1>
        <p class="lead"> Welcome to ContactList! <br> Jump right in and explore the ability to keep track of your
            contacts.</p>
        <a href="/contacts" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
            Contacts</a>
    </main>
    </div>